{% extends 'base.html' %} {% block main %}

<div class="mt-5">
  <h2>Add movie</h2>
  <hr />

  {% if error %}
  <div class="alert alert-warning p-3 text-center">
      {{error}}
  </div>

  {% endif %} {% if success %}
  <div class="alert alert-warning p-3 text-center">
      {{success}}
  </div>
  {% endif %}



  <div class="rounded shadow p-3">
    <form action="/new-movie" method="post">
      <label for="Title">Movie Title</label>
      <input type="text" name="Title" id="Title" class="form-control" />

      <label for="Year">Release Year</label>
      <input type="number" name="Year" id="Year" class="form-control" />

      <label for="budget">Budget</label>
      <input type="text" name="Budget" id="Budget" class="form-control" />

      <label for="Cast">Cast</label>
      <input
        type="text"
        name="Cast"
        id="Cast"
        class="form-control"
        placeholder="Who are the main cast. Separate with a comma"
      />
      <input type="submit" value="Add Movie" class="btn btn-sm btn-success mt-3" />

      <a href="/" class="btn btn-sm btn-primary mt-3">Done</a>
    </form>
  </div>
</div>

{% endblock %}
